@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

:root {
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --extra-bold: 700;
  /* font-family: 'Titillium Web', sans-serif;
  font-size: 16px; */
}

body {
  line-height: 1.35 !important;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  --light: 300;
  --regular: 400;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #77a1d3, #79cbca);
  border-radius: 100px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}